{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                {{ form(form, {'action': path('title_create'), 'method': 'POST'}) }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}